/patch/*
!/patch/.gitkeep
/data/*
!/data/.gitkeep
.DS_Store
target/
out/
build/
.mvn/
*.class
*.jar
*.war
*.log
*.pid
.settings/
.project
.classpath
.idea/
.vscode/
*.iml
.env
.env.*
*.mv.db
*.trace.db
hs_err_pid*
.reports/
